DATE

In [12]:
import yaml
import pandas as pd
from sqlalchemy import create_engine

In [13]:
with open('../config.yaml') as f:
    config = yaml.safe_load(f)
    configSource = config['source']
    configDestination = config['destination']

urlSource = f"{configSource['driver']}://{configSource['user']}:{configSource['password']}@{configSource['host']}:{configSource['port']}/{configSource['db']}"
urlDestination = f"{configDestination['driver']}://{configDestination['user']}:{configDestination['password']}@{configDestination['host']}:{configDestination['port']}/{configDestination['db']}"

engineSource = create_engine(urlSource)
engineDestination = create_engine(urlDestination)

In [15]:
date = pd.DataFrame({"date": pd.date_range(start="2017-01-01", end="2021-12-31", freq="D")})
date["day"] = date["date"].dt.day
date["day_name"] = date["date"].dt.day_name()
date["month"] = date["date"].dt.month
date["month_name"] = date["date"].dt.month_name()
date["year"] = date["date"].dt.year
date["date_id"] = range(1, len(date) + 1)
date["saved"] = pd.to_datetime("now")

date

,date,day,day_name,month,month_name,year,date_id,saved
0,2017-01-01,1,Sunday,1,January,2017,1,2024-10-21 16:20:59.537594
1,2017-01-02,2,Monday,1,January,2017,2,2024-10-21 16:20:59.537594
2,2017-01-03,3,Tuesday,1,January,2017,3,2024-10-21 16:20:59.537594
3,2017-01-04,4,Wednesday,1,January,2017,4,2024-10-21 16:20:59.537594
4,2017-01-05,5,Thursday,1,January,2017,5,2024-10-21 16:20:59.537594
...,...,...,...,...,...,...,...,...
1821,2021-12-27,27,Monday,12,December,2021,1822,2024-10-21 16:20:59.537594
1822,2021-12-28,28,Tuesday,12,December,2021,1823,2024-10-21 16:20:59.537594
1823,2021-12-29,29,Wednesday,12,December,2021,1824,2024-10-21 16:20:59.537594
1824,2021-12-30,30,Thursday,12,December,2021,1825,2024-10-21 16:20:59.537594
1825,2021-12-31,31,Friday,12,December,2021,1826,2024-10-21 16:20:59.537594

In [17]:
date.to_sql("dim_date", engineDestination, index=False, if_exists="replace")

826